<div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0px;" align="center">
    <div class="col-xs-12 col-sm-12 col-md-12" style="background: black; padding: 10px;">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <a routerLink="/vehicle"><img src="../../assets/img/R Group Logo (Transparent).webp" width="100%"></a>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-12">
            <!-- <a class="link" href="https://www.instagram.com/recel_group/" target="blank"><i class="fa fa-instagram"></i></a>
            <a class="link" href="https://www.youtube.com/channel/UCP2czB-ByMt6aq52ylA7rWA" target="blank"><i class="fa fa-youtube"></i></a> -->
        </div>
    </div>
    <app-nav></app-nav>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Vehicles</h1>
        <owl-carousel-o [options]="customOptions" style="position: sticky; font-size: large;">
            <ng-template carouselSlide>
                <button routerLink="v2"><img class="img" src="../../assets/v2/WhatsApp Image 2023-06-22 at 7.51.08 PM.jpeg"></button><br>
                Red Boxer 105 UG
            </ng-template>
            <ng-template carouselSlide>
                <button routerLink="v3"><img class="img" src="../../assets/v3/PHOTO-2023-06-22-14-21-31.jpg"></button><br>
                Mitsubishi Canter
            </ng-template>
            <ng-template carouselSlide>
                <button routerLink="v4"><img class="img" src="../../assets/V4/front.jpeg"></button><br>
                Mazda Verisa
            </ng-template>
            <ng-template carouselSlide>
                <button routerLink="v5"><img class="img" src="../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.56 PM.jpeg"></button><br>
                Subaru Legacy
            </ng-template>
        </owl-carousel-o>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href = "tel: +254-746-704-447" style="font-size: xx-large; padding: 30px;">
            Import/Sell with us .. 
            <i class="fa fa-phone"></i>
        </a>
    </div>

</div>