<div class="col-md-12 col-sm-12 col-xs-12 real">
    <hr style="width: 100%; height: 2px; border-radius: 50%; background: orange;">
    <h2>Subaru legacy</h2>
    <div class="col-md-8 col-md-offset-2" fxShow="true" fxHide.lt-md="true" >
        <div class="col-md-6">
            <ul>
                <li>Status: <b>Available</b></li>
                <li>Type: <b>Station Wagon</b></li>
                <li>Condition: <b>Kenyan Used</b></li>
                <li>Make: <b>Subaru</b></li>
                <li>Model: <b>Legacy</b></li>
                <li>Year of manufacture: <b>2002</b></li>
                <li>Engine capacity: <b>2000cc</b></li>
                <li>Color: <b>Black</b></li>
            </ul>                
        </div>
        <div class="col-md-6">
            <ul>
                <li>Transmission: <b>Semi-Automatic</b></li>
                <li>Exchange possible: <b>Yes</b></li>
                <li>Reg No: <b>KBK 119L</b></li>
                <li>Asking price: <b>KES 600,000 (NEG)</b></li>
                <li>Alloy wheels</li>
                <li>Turbo Engine</li>
                <li>Power Seats/Steering</li>
                <li>Sub-Woofer System</li>
            </ul>            
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" fxHide fxShow.lt-md>
        <ul>
            <li>Type: <b>Station Wagon</b></li>
            <li>Condition: <b>Kenyan Used</b></li>
            <li>Make: <b>Subaru</b></li>
            <li>Model: <b>Legacy</b></li>
            <li>Year of manufacture: <b>2002</b></li>
            <li>Engine capacity: <b>2000cc</b></li>
            <li>Color: <b>Black</b></li>
            <li>Transmission: <b>Semi-Automatic</b></li>
            <li>Exchange possible: <b>Yes</b></li>
            <li>Reg No: <b>KBK 119L</b></li>
            <li>Asking price: <b>KES 600,000 (NEG)</b></li>
            <li>Alloy wheels</li>
            <li>Turbo Engine</li>
            <li>Power Seats/Steering</li>
            <li>Sub-Woofer System</li>
        </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0%; margin: 0%;">
        <owl-carousel-o [options]="customOptions" style="position: sticky;">
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.55 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.55 PM (1).jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.56 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.57 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.58 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.49.59 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.50.00 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 4.50.03 PM.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/v5/WhatsApp Image 2023-06-27 at 5.26.57 PM.jpeg">
            </ng-template>
        </owl-carousel-o>
    </div>
</div>