<div class="col-md-12 col-sm-12 col-xs-12 real">
    <hr style="width: 100%; height: 2px; border-radius: 50%; background: orange;">
    <h2>Mazda Verisa</h2>
    <div class="col-md-8 col-md-offset-2" fxShow="true" fxHide.lt-md="true" >
        <div class="col-md-6">
            <ul>
                <li>Status: <b>N/A</b></li>
                <li>Type: <b>Hatch back</b></li>
                <li>Condition: <b>Kenyan Used</b></li>
                <li>Make: <b>Mazda</b></li>
                <li>Model: <b>Vesrisa</b></li>
                <li>Year of manufacture: <b>2008</b></li>
                <li>Engine capacity: <b>1498cc</b></li>
                <li>Color: <b>Dark Purple</b></li>
            </ul>                
        </div>
        <div class="col-md-6">
            <ul>
                <li>Transmission: <b>Automatic</b></li>
                <li>Exchange possible: <b>No</b></li>
                <li>Reg No: <b>KCU ***W</b></li>
                <li>Asking price: <b>KES 650,000 (NEG)</b></li>
                <li>Alloy wheels</li>
                <li>Leather seats</li>
                <li>Pioneer Infotainment System</li>
                <li>Bluetooth & Bluetooth Phone connection</li>
            </ul>            
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" fxHide fxShow.lt-md>
        <ul>
            <li>Type: <b>Hatch back</b></li>
            <li>Condition: <b>Kenyan Used</b></li>
            <li>Make: <b>Mazda</b></li>
            <li>Model: <b>Vesrisa</b></li>
            <li>Year of manufacture: <b>2008</b></li>
            <li>Engine capacity: <b>1498cc</b></li>
            <li>Color: <b>Dark Purple</b></li>
            <li>Transmission: <b>Automatic</b></li>
            <li>Exchange possible: <b>No</b></li>
            <li>Reg No: <b>KCU ***W</b></li>
            <li>Asking price: <b>KES 650,000 (NEG)</b></li>
            <li>Alloy wheels</li>
            <li>Leather seats</li>
            <li>Pioneer Infotainment System</li>
            <li>Bluetooth & Bluetooth Phone connection</li>
        </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0%; margin: 0%;">
        <owl-carousel-o [options]="customOptions" style="position: sticky;">
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/V4/front.jpeg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/V4/WhatsApp Image 2023-06-25 at 5.14.56 PM (1).jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/V4/WhatsApp Image 2023-06-25 at 5.14.57 PM.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/V4/WhatsApp Image 2023-06-25 at 5.14.59 PM.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/V4/WhatsApp Image 2023-06-25 at 5.15.01 PM.jpg">
            </ng-template>
        </owl-carousel-o>
    </div>
</div>