<div class="col-md-12 col-sm-12 col-xs-12 footer" fxShow="true" fxHide.lt-md="true">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <p><a href = "tel: +254-746-704-447">
            <i class="fa fa-phone"></i></a>
        </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <p><a href="mailto: recelgroupke@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i></a>
        </p>
    </div>    
</div>

<div class="col-md-12 col-sm-12 col-xs-12 foot" fxHide="true" fxShow.lt-sm="true">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <p><a href = "tel: +254-746-704-447">
            <i class="fa fa-phone"></i></a>
        </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <p><a href="mailto: recelgroupke@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i></a>
        </p>
    </div>    
</div>