<div class="col-md-12 col-sm-12 col-xs-12 real">
    <hr style="width: 100%; height: 2px; border-radius: 50%; background: orange;">
    <h2>ANNETTE FLATS</h2>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <ul>
            <li>Status: 1 unit remaining</li>
            <li>Master & Suite</li>
            <li>Monthly Rent - KES 16,500, Deposit - KES 16,500</li>
            <li>Borehole Facilitation Fee - KES 2,000 (one-time fee)</li>
            <li>Ample Parking</li>
            <li>Guard & 24/7 CCTV Surveillance</li>
            <li>DsTv</li>
            <li>WiFi</li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
         <iframe src="https://www.google.com/maps/d/embed?mid=1KazonOFUTWqO42unky8cU6TukCsmLaQ&ehbc=2E312F" 
         width="100%" height="260"></iframe>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0%; margin: 0%;">
        <owl-carousel-o [options]="customOptions" style="position: sticky;">
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2513.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2514.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2515.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2516.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2517.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2518.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2519.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2520.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2521.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2522.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2523.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2524.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2525.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2526.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2527.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2528.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2529.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2530.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2531.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2532.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2533.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2534.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2535.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2536.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2537.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2538.JPG">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img" src="../../../assets/h1/IMG_2539.JPG">
            </ng-template>
        </owl-carousel-o>
        <!-- <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG">
        <img class="img" src="../../../assets/h1/IMG_2513.JPG"> -->
    </div>
</div>